.principal {
    border-radius: 15px;
    margin-left: 24%;
    margin-top: -627px;
    width: 710px;
    height: 448px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    box-shadow: 55px 35px rgba(0, 0, 0, 0.863);
}
.barra{
    background-color: aqua;
    height: auto;
    color: azure;
    margin: auto;
    border-radius: 5px;
    border-bottom: 0px;
}
.h4{
    margin: auto;

}
h2{
    font-size: 30px;
}
body{
    background-image: url(../img/madera.jpg);
    background-repeat: no-repeat;
  background-size: cover;
}
img{
    width: 800px;
    margin-left: 270px;
    margin-top: -30px;
    margin-bottom: 80px;
}